In [12]:
import pandas as pd

df_pandas = pd.read_csv("output.csv")

In [13]:
df_cleaned = df_pandas.drop_duplicates()

In [14]:
df_cleaned = df_cleaned.dropna(subset=['player_name'])
df_cleaned['country_name'].fillna('Unknown', inplace=True)
df_cleaned['country_code'].fillna('Unknown', inplace=True)
median_age = df_cleaned['age'].median()
df_cleaned['age'].fillna(median_age, inplace=True)
df_cleaned['position_name'].fillna('Unknown Position', inplace=True)
df_cleaned['position_short_name'].fillna('Unknown Position', inplace=True)
df_cleaned['club_to_name'].fillna('No Transfer', inplace=True)

In [15]:
df_cleaned['primary_position_name'] = df_cleaned['position_name'].str.split(',', expand=True)[0].str.split('(', expand=True)[0].str.strip()

In [16]:
median_age = df_cleaned['age'].median()
df_cleaned.loc[df_cleaned['age'] > 40, 'age'] = median_age

In [17]:
# Descriptive statistics for age after addressing outliers
age_stats_after_outliers = df_cleaned['age'].describe()

age_stats_after_outliers

count    153878.000000
mean         23.079264
std           4.963276
min           6.000000
25%          19.000000
50%          22.000000
75%          26.000000
max          40.000000
Name: age, dtype: float64

In [18]:
# Group by country_name and count the number of transfers for each country
country_transfers = df_cleaned['country_name'].value_counts()

# Display the top 10 countries with the most transfers
top_countries_transfers = country_transfers.head(10)

top_countries_transfers

country_name
Germany        16126
Spain           8418
Italy           7566
Serbia          7435
Netherlands     6333
Poland          5887
France          5714
Brazil          5696
England         4536
Russia          4426
Name: count, dtype: int64

In [19]:
descriptive_stats = df_cleaned.describe()

In [20]:
# Sort the DataFrame by the price_tag.value column in descending order and get the top 50 transfers
top_50_transfers = df_cleaned.sort_values(by='price_tag.value', ascending=False).head(50)

# Display the top 50 high-profile transfers
top_50_transfers[['player_name', 'country_name', 'club_from_name', 'club_to_name', 'price_tag.price', 'price_tag.value']]

,player_name,country_name,club_from_name,club_to_name,price_tag.price,price_tag.value
57452,Neymar,Brazil,FC Barcelona,Paris Saint-Germain,€222M,222000000
80828,Kylian Mbappé,France,AS Monaco,Paris Saint-Germain,€180M,180000000
85408,Philippe Coutinho,Brazil,Liverpool FC,FC Barcelona,€135M,135000000
56158,Ousmane Dembélé,France,Borussia Dortmund,FC Barcelona,€135M,135000000
93286,João Félix,Portugal,SL Benfica,Atlético de Madrid,€127.2M,127200000
157322,Enzo Fernández,Argentina,SL Benfica,Chelsea FC,€121M,121000000
92214,Antoine Griezmann,France,Atlético de Madrid,FC Barcelona,€120M,120000000
122501,Jack Grealish,England,Aston Villa,Manchester City,€117.5M,117500000
75696,Cristiano Ronaldo,Portugal,Real Madrid,Juventus FC,€117M,117000000
151658,Declan Rice,England,West Ham United,Arsenal FC,€116.6M,116600000
149139,Moisés Caicedo,Ecuador,Brighton & Hove Albion,Chelsea FC,€116M,116000000
97559,Eden Hazard,Belgium,Chelsea FC,Real Madrid,€115M,115000000
121927,Romelu Lukaku,Belgium,Inter Milan,Chelsea FC,€113M,113000000
41738,Paul Pogba,France,Juventus FC,Manchester United,€105M,105000000
155212,Jude Bellingham,England,Borussia Dortmund,Real Madrid,€103M,103000000
640,Gareth Bale,Wales,Tottenham Hotspur,Real Madrid,€101M,101000000
149203,Harry Kane,England,Tottenham Hotspur,FC Bayern Munich,€100M,100000000
148444,Randal Kolo Muani,France,Eintracht Frankfurt,Paris Saint-Germain,€95M,95000000
135251,Antony,Brazil,Ajax Amsterdam,Manchester United,€95M,95000000
42997,Gonzalo Higuaín,Argentina,SSC Napoli,Juventus FC,€90M,90000000
149692,Josko Gvardiol,Croatia,RB Leipzig,Manchester City,€90M,90000000
149098,Neymar,Brazil,Paris Saint-Germain,Al-Hilal SFC,€90M,90000000
7101,Neymar,Brazil,Santos FC,FC Barcelona,€88M,88000000
89841,Harry Maguire,England,Leicester City,Manchester United,€87M,87000000
97938,Frenkie de Jong,Netherlands,Ajax Amsterdam,FC Barcelona,€86M,86000000
91703,Matthijs de Ligt,Netherlands,Ajax Amsterdam,Juventus FC,€85.5M,85500000
123827,Jadon Sancho,England,Borussia Dortmund,Manchester United,€85M,85000000
59828,Romelu Lukaku,Belgium,Everton FC,Manchester United,€84.7M,84700000
86303,Virgil van Dijk,Netherlands,Southampton FC,Liverpool FC,€84.7M,84650000
15984,Luis Suárez,Uruguay,Liverpool FC,FC Barcelona,€81.7M,81720000
146330,Dusan Vlahovic,Serbia,ACF Fiorentina,Juventus FC,€81.6M,81600000
107699,Arthur Melo,Brazil,FC Barcelona,Juventus FC,€80.6M,80600000
135153,Wesley Fofana,France,Leicester City,Chelsea FC,€80.4M,80400000
142777,Aurélien Tchouaméni,France,AS Monaco,Real Madrid,€80M,80000000
142309,Darwin Núñez,Uruguay,SL Benfica,Liverpool FC,€80M,80000000
72968,Kepa Arrizabalaga,Spain,Athletic Bilbao,Chelsea FC,€80M,80000000
107235,Kai Havertz,Germany,Bayer 04 Leverkusen,Chelsea FC,€80M,80000000
90386,Nicolas Pépé,Cote d'Ivoire,LOSC Lille,Arsenal FC,€80M,80000000
97709,Lucas Hernández,France,Atlético de Madrid,FC Bayern Munich,€80M,80000000
26129,Kevin De Bruyne,Belgium,VfL Wolfsburg,Manchester City,€76M,76000000
153965,Kai Havertz,Germany,Chelsea FC,Arsenal FC,€75M,75000000
13270,Á. Di María,Argentina,Real Madrid,Manchester United,€75M,75000000
149689,Rasmus Højlund,Denmark,Atalanta BC,Manchester United,€75M,75000000
107698,Victor Osimhen,Nigeria,LOSC Lille,SSC Napoli,€75M,75000000
15304,James Rodríguez,Colombia,AS Monaco,Real Madrid,€75M,75000000
89575,Romelu Lukaku,Belgium,Manchester United,Inter Milan,€74M,74000000
80323,Thomas Lemar,France,AS Monaco,Atlético de Madrid,€72M,72000000
105794,Rúben Dias,Portugal,SL Benfica,Manchester City,€71.6M,71600000
135666,Casemiro,Brazil,Real Madrid,Manchester United,€70.7M,70650000
158105,Mykhaylo Mudryk,Ukraine,Shakhtar Donetsk,Chelsea FC,€70M,70000000

In [21]:
# Extract the transfer year from the date_transfer column
df_cleaned['transfer_year'] = pd.to_datetime(df_cleaned['date_transfer']).dt.year

# Add transfer_year to the top 50 transfers DataFrame
top_50_transfers['transfer_year'] = df_cleaned['transfer_year']

# Display the top 50 transfers with the transfer year
top_50_transfers_with_year = top_50_transfers[['player_name', 'country_name', 'club_from_name', 'club_to_name', 'price_tag.price', 'price_tag.value', 'transfer_year']]

top_50_transfers_with_year.head()  # Displaying the top 5 for brevity, but the whole list has been updated.

,player_name,country_name,club_from_name,club_to_name,price_tag.price,price_tag.value,transfer_year
57452,Neymar,Brazil,FC Barcelona,Paris Saint-Germain,€222M,222000000,2017
80828,Kylian Mbappé,France,AS Monaco,Paris Saint-Germain,€180M,180000000,2018
85408,Philippe Coutinho,Brazil,Liverpool FC,FC Barcelona,€135M,135000000,2018
56158,Ousmane Dembélé,France,Borussia Dortmund,FC Barcelona,€135M,135000000,2017
93286,João Félix,Portugal,SL Benfica,Atlético de Madrid,€127.2M,127200000,2019

In [22]:
# Count the number of high-profile transfers for each year
yearly_transfers_count = top_50_transfers['transfer_year'].value_counts().sort_index()

yearly_transfers_count

transfer_year
2013     2
2014     3
2015     1
2016     2
2017     3
2018     6
2019     9
2020     4
2021     3
2022     6
2023    11
Name: count, dtype: int64

In [23]:
# Compute the average transfer value for each year
average_transfer_value_by_year = top_50_transfers.groupby('transfer_year')['price_tag.value'].mean()

average_transfer_value_by_year

transfer_year
2013    9.450000e+07
2014    7.724000e+07
2015    7.600000e+07
2016    9.750000e+07
2017    1.472333e+08
2018    1.114417e+08
2019    9.496667e+07
2020    7.680000e+07
2021    1.051667e+08
2022    8.127500e+07
2023    9.560000e+07
Name: price_tag.value, dtype: float64

In [24]:
# Clubs that have bought the most high-profile players
top_buying_clubs = top_50_transfers['club_to_name'].value_counts().head(10)

# Clubs that have sold the most high-profile players
top_selling_clubs = top_50_transfers['club_from_name'].value_counts().head(10)

top_buying_clubs, top_selling_clubs

(club_to_name
 Manchester United      8
 Chelsea FC             7
 FC Barcelona           6
 Juventus FC            5
 Real Madrid            5
 Manchester City        4
 Paris Saint-Germain    3
 Arsenal FC             3
 Atlético de Madrid     2
 FC Bayern Munich       2
 Name: count, dtype: int64,
 club_from_name
 SL Benfica           4
 AS Monaco            4
 Ajax Amsterdam       3
 Borussia Dortmund    3
 Real Madrid          3
 Chelsea FC           2
 LOSC Lille           2
 Leicester City       2
 Tottenham Hotspur    2
 FC Barcelona         2
 Name: count, dtype: int64)

In [25]:
# Sort the entire DataFrame by the price_tag.value column in descending order and get the top 500 transfers
top_500_transfers = df_cleaned.sort_values(by='price_tag.value', ascending=False).head(500)

# Display the top 5 transfers from the top 500 for a brief overview
top_500_transfers[['player_name', 'country_name', 'club_from_name', 'club_to_name', 'price_tag.price', 'price_tag.value', 'transfer_year']].head()

,player_name,country_name,club_from_name,club_to_name,price_tag.price,price_tag.value,transfer_year
57452,Neymar,Brazil,FC Barcelona,Paris Saint-Germain,€222M,222000000,2017
80828,Kylian Mbappé,France,AS Monaco,Paris Saint-Germain,€180M,180000000,2018
85408,Philippe Coutinho,Brazil,Liverpool FC,FC Barcelona,€135M,135000000,2018
56158,Ousmane Dembélé,France,Borussia Dortmund,FC Barcelona,€135M,135000000,2017
93286,João Félix,Portugal,SL Benfica,Atlético de Madrid,€127.2M,127200000,2019

In [26]:
# Count the number of high-profile transfers for each year based on the top 500 transfers
yearly_transfers_count_500 = top_500_transfers['transfer_year'].value_counts().sort_index()

yearly_transfers_count_500

transfer_year
2013    21
2014    19
2015    31
2016    40
2017    45
2018    54
2019    68
2020    46
2021    31
2022    52
2023    93
Name: count, dtype: int64

In [27]:
# Compute the average transfer value for each year based on the top 500 transfers
average_transfer_value_by_year_500 = top_500_transfers.groupby('transfer_year')['price_tag.value'].mean()

average_transfer_value_by_year_500

transfer_year
2013    4.080000e+07
2014    4.092684e+07
2015    3.755000e+07
2016    3.846575e+07
2017    4.410000e+07
2018    4.559519e+07
2019    4.411765e+07
2020    3.884978e+07
2021    4.148065e+07
2022    4.510981e+07
2023    4.530075e+07
Name: price_tag.value, dtype: float64

In [28]:
# Clubs that have bought the most players based on the top 500 transfers
top_buying_clubs_500 = top_500_transfers['club_to_name'].value_counts().head(10)

# Clubs that have sold the most players based on the top 500 transfers
top_selling_clubs_500 = top_500_transfers['club_from_name'].value_counts().head(10)

top_buying_clubs_500, top_selling_clubs_500

(club_to_name
 Chelsea FC             39
 Manchester City        31
 Manchester United      28
 Paris Saint-Germain    27
 Arsenal FC             24
 Juventus FC            22
 Tottenham Hotspur      21
 FC Barcelona           21
 Liverpool FC           21
 Real Madrid            18
 Name: count, dtype: int64,
 club_from_name
 Chelsea FC           17
 SL Benfica           15
 AS Monaco            15
 FC Barcelona         15
 Real Madrid          14
 FC Porto             13
 Ajax Amsterdam       13
 AS Roma              13
 Juventus FC          12
 Borussia Dortmund    11
 Name: count, dtype: int64)

In [29]:
df_cleaned.to_csv('decade_transfers.csv')